<h2 style="color: red">Tài khoản của bạn không tìm thấy</h2>
<p>Vui lòng kiểm tra email của bạn đã được tạo hay chưa.</p>
<a asp-action="Create" asp-controller="Account">Nhấn vào đây để tạo tài khoản mới!!!</a>