@{
    ViewData["Title"] = "Payment Success";
}

<h1>Payment Success</h1>
<div style="display: flex; justify-content: center; align-items: center;">
    <img src="~/media/logos/paymentsuccess.png" alt="PaymentSuccess" />
</div>
<div style="display: flex; justify-content: center; align-items: center">
    <a style="color:blue; magrin-top:20px" asp-action="Index" asp-controller="Home"><h3>Quay lại Trang Chủ</h3></a>
</div>
