@model ContactModel

<h2 class="title text-center">Contact Info @Model.Name @Model.Phone</h2>
<h2 class="text-center">@Model.Description</h2>
<div style="display: flex; justify-content: center; align-Models: center; height: 100vh;">
    <p>@Html.Raw(Model.Map)</p>
</div>

<div style="display: flex; justify-content: center;"
     class="fb-page" data-href="https://www.facebook.com/Laptopcu78/"
     data-tabs="message" data-width="" data-height="" data-small-header="false"
     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Laptopcu78/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Laptopcu78/">Laptop 247 - Mua bán, sửa chữa Laptop cũ tại Hà Nội</a>
    </blockquote>
</div>
