
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Not Found</h1>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="~/media/products/notfound.png" alt="NotFound" />
</div>

