@{
    ViewData["Title"] = "Not Found";
}

<h1>Not Found</h1>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="~/media/products/notfound.png" alt="NotFound" />
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <a style="color:blue; magrin-top:20px" asp-action="Index" asp-controller="Home"><h3>Quay lại Trang Chủ</h3></a>
</div>